src/Flow-NodeRed/flows.json
[{"id":"7c834bf5.991cd4","type":"tab","label":"InvernaderoArduino","disabled":false,"info":"# Invernadero Arduino\n### Control de planta para invernadero Indoor via NodeRed y Arduino\n"},{"id":"afa2f525.ef8ce8","type":"mqtt in","z":"7c834bf5.991cd4","name":"","topic":"debug","qos":"2","datatype":"auto","broker":"a11348fa.782ef8","x":55,"y":20,"wires":[["2729750d.5ab6aa","da4e98f5.a9e4d8"]]},{"id":"2729750d.5ab6aa","type":"debug","z":"7c834bf5.991cd4","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":250,"y":20,"wires":[]},{"id":"bfd2946e.f2cd78","type":"ui_text","z":"7c834bf5.991cd4","group":"a1db1541.074798","order":1,"width":0,"height":0,"name":"","label":"HoraActualizada?","format":"{{msg.payload}}","layout":"row-left","x":297,"y":129,"wires":[]},{"id":"488fd3a1.a06d4c","type":"mqtt in","z":"7c834bf5.991cd4","name":"","topic":"setTime","qos":"2","broker":"a11348fa.782ef8","x":57,"y":169,"wires":[["bfd2946e.f2cd78"]]},{"id":"e56cb424.7da3e8","type":"mqtt in","z":"7c834bf5.991cd4","name":"","topic":"horaActual","qos":"2","broker":"a11348fa.782ef8","x":67,"y":229,"wires":[["a3b3421c.fd336"]]},{"id":"a3b3421c.fd336","type":"ui_text","z":"7c834bf5.991cd4","group":"a1db1541.074798","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":257,"y":169,"wires":[]},{"id":"a37219cb.b82748","type":"mqtt in","z":"7c834bf5.991cd4","name":"","topic":"vivo","qos":"2","broker":"a11348fa.782ef8","x":57,"y":289,"wires":[["50cc40a0.c96a3"]]},{"id":"50cc40a0.c96a3","type":"ui_toast","z":"7c834bf5.991cd4","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Status","name":"Status...","x":269,"y":243,"wires":[]},{"id":"60541728.741ae8","type":"mqtt out","z":"7c834bf5.991cd4","name":"","topic":"comandos","qos":"","retain":"","broker":"a11348fa.782ef8","x":290,"y":300,"wires":[]},{"id":"889e9570.8516a8","type":"mqtt in","z":"7c834bf5.991cd4","name":"","topic":"ntpTime","qos":"2","broker":"a11348fa.782ef8","x":55,"y":77,"wires":[["2729750d.5ab6aa"]]},{"id":"35058dbc.69f1c2","type":"ui_button","z":"7c834bf5.991cd4","name":"","group":"4c49f299.b714dc","order":0,"width":"0","height":"0","passthru":false,"label":"Regar Suelo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"comando:regar","payloadType":"str","topic":"","x":90,"y":460,"wires":[["60541728.741ae8"]]},{"id":"89cbd469.1758e8","type":"ui_button","z":"7c834bf5.991cd4","name":"","group":"4c49f299.b714dc","order":0,"width":0,"height":0,"passthru":false,"label":"Renovar CO2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"comando:CO2","payloadType":"str","topic":"","x":100,"y":520,"wires":[["60541728.741ae8"]]},{"id":"1cdb3141.0d926f","type":"ui_button","z":"7c834bf5.991cd4","name":"","group":"4c49f299.b714dc","order":0,"width":0,"height":0,"passthru":false,"label":"Bajar Temperatura","tooltip":"","color":"","bgcolor":"","icon":"","payload":"comando:enfriar","payloadType":"str","topic":"","x":110,"y":580,"wires":[["60541728.741ae8"]]},{"id":"f57784c0.d8df38","type":"mqtt in","z":"7c834bf5.991cd4","name":"","topic":"popup","qos":"2","broker":"a11348fa.782ef8","x":55,"y":348,"wires":[["50cc40a0.c96a3"]]},{"id":"b3c136b5.282e78","type":"ui_chart","z":"7c834bf5.991cd4","name":"","group":"225ed1a0.76225e","order":3,"width":0,"height":0,"label":"Interna:  {{msg.payload}}ºC","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":40,"wires":[[]]},{"id":"85906b86.c86498","type":"ui_chart","z":"7c834bf5.991cd4","name":"","group":"225ed1a0.76225e","order":3,"width":0,"height":0,"label":"Externa: {{msg.payload}}ºC","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":200,"wires":[[]]},{"id":"54cf88c5.e8ce68","type":"ui_chart","z":"7c834bf5.991cd4","name":"","group":"3c2120a5.30482","order":3,"width":0,"height":0,"label":"Interna: {{msg.payload}}%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":80,"wires":[[]]},{"id":"acc7b0fb.83ae5","type":"ui_chart","z":"7c834bf5.991cd4","name":"","group":"3c2120a5.30482","order":3,"width":0,"height":0,"label":"Externa: {{msg.payload}}%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":240,"wires":[[]]},{"id":"2298c3b5.fe767c","type":"ui_chart","z":"7c834bf5.991cd4","name":"","group":"6f0d6ce3.761864","order":3,"width":0,"height":0,"label":"{{msg.payload}}%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"120","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":340,"wires":[[]]},{"id":"f7708af2.680ca8","type":"ui_chart","z":"7c834bf5.991cd4","name":"","group":"33a65cc1.e0cbb4","order":3,"width":0,"height":0,"label":"{{msg.payload}}%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"120","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":380,"wires":[[]]},{"id":"f4406843.5c5728","type":"mqtt in","z":"7c834bf5.991cd4","name":"","topic":"ldr","qos":"2","broker":"a11348fa.782ef8","x":450,"y":400,"wires":[["f7708af2.680ca8"]]},{"id":"2bb51e51.e04562","type":"mqtt in","z":"7c834bf5.991cd4","name":"","topic":"higrometro","qos":"2","broker":"a11348fa.782ef8","x":460,"y":320,"wires":[["2298c3b5.fe767c"]]},{"id":"c8e0f42e.62fa98","type":"mqtt in","z":"7c834bf5.991cd4","name":"","topic":"tempInt","qos":"2","broker":"a11348fa.782ef8","x":450,"y":20,"wires":[["b3c136b5.282e78"]]},{"id":"ec5a6c1e.33958","type":"mqtt in","z":"7c834bf5.991cd4","name":"","topic":"tempExt","qos":"2","broker":"a11348fa.782ef8","x":460,"y":180,"wires":[["85906b86.c86498"]]},{"id":"1875887a.858ec8","type":"mqtt in","z":"7c834bf5.991cd4","name":"","topic":"humInt","qos":"2","broker":"a11348fa.782ef8","x":450,"y":100,"wires":[["54cf88c5.e8ce68"]]},{"id":"69f0073c.554288","type":"mqtt in","z":"7c834bf5.991cd4","name":"","topic":"humExt","qos":"2","broker":"a11348fa.782ef8","x":450,"y":260,"wires":[["acc7b0fb.83ae5"]]},{"id":"2ea8cabf.2c5176","type":"ui_button","z":"7c834bf5.991cd4","name":"","group":"4c49f299.b714dc","order":0,"width":0,"height":0,"passthru":false,"label":"Subir Temperatura","tooltip":"","color":"","bgcolor":"","icon":"","payload":"comando:calentar","payloadType":"str","topic":"","x":110,"y":640,"wires":[["60541728.741ae8"]]},{"id":"8e241b93.6bc748","type":"ui_switch","z":"7c834bf5.991cd4","name":"","label":"Manual?","tooltip":"","group":"4c49f299.b714dc","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"comando:manual","onvalueType":"str","onicon":"","oncolor":"","offvalue":"comando:automatica","offvalueType":"str","officon":"","offcolor":"","x":80,"y":700,"wires":[["60541728.741ae8"]]},{"id":"da4e98f5.a9e4d8","type":"ui_text","z":"7c834bf5.991cd4","group":"a1db1541.074798","order":3,"width":0,"height":0,"name":"","label":"Mensajes del sistema:","format":"{{msg.payload}}","layout":"col-center","x":300,"y":90,"wires":[]},{"id":"b3937926.5fd848","type":"mqtt in","z":"7c834bf5.991cd4","name":"","topic":"nivelAgua","qos":"2","datatype":"auto","broker":"a11348fa.782ef8","x":68,"y":411,"wires":[["cbf34f69.78559"]]},{"id":"cbf34f69.78559","type":"ui_text","z":"7c834bf5.991cd4","group":"a1db1541.074798","order":2,"width":0,"height":0,"name":"","label":"Cantidad de Agua :","format":"{{msg.payload}}cm","layout":"row-left","x":300,"y":202,"wires":[]},{"id":"a11348fa.782ef8","type":"mqtt-broker","z":"","name":"","broker":"108.61.86.127","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a1db1541.074798","type":"ui_group","z":"","name":"Status","tab":"ecb20a5.b1b28f8","disp":true,"width":"6","collapse":false},{"id":"4c49f299.b714dc","type":"ui_group","z":"","name":"Acciones Sobre Planta","tab":"ecb20a5.b1b28f8","disp":true,"width":"6","collapse":false},{"id":"225ed1a0.76225e","type":"ui_group","z":"","name":"Temperatura Ambiente","tab":"ecb20a5.b1b28f8","disp":true,"width":"6","collapse":false},{"id":"3c2120a5.30482","type":"ui_group","z":"","name":"Humedad Ambiente","tab":"ecb20a5.b1b28f8","disp":true,"width":"6","collapse":false},{"id":"6f0d6ce3.761864","type":"ui_group","z":"","name":"Humedad Suelo","tab":"ecb20a5.b1b28f8","disp":true,"width":"6","collapse":false},{"id":"33a65cc1.e0cbb4","type":"ui_group","z":"","name":"Luminocidad","tab":"ecb20a5.b1b28f8","disp":true,"width":"6","collapse":false},{"id":"ecb20a5.b1b28f8","type":"ui_tab","z":"","name":"Invernadero Arduino V0.1","icon":"dashboard","disabled":false,"hidden":false}]